<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="requestPrinter" 
		class="gr.souperk.ion.server.handle.RequestPrinter">
	</bean>

	<bean id="requestProcessor" 
		class="gr.souperk.ion.server.handle.RequestProcessor">
		<constructor-arg ref="serverConfiguration"/>
	</bean>

	<bean id="requestManipulator" 
		class="gr.souperk.ion.server.handle.RequestManipulator">
		<constructor-arg ref="proxyConfiguration"/>
	</bean>

	<bean id="requestParser" 
		class="gr.souperk.ion.server.handle.RequestParser">
	</bean>


	<bean id="requestHandlerFactory" 
		class="gr.souperk.ion.server.handle.RequestHandlerFactory">
		<property name="handlers">
			<list>
				<ref bean="requestParser"/>
				<ref bean="requestManipulator"/>
				<ref bean="requestProcessor"/>
				<ref bean="requestPrinter"/>
			</list>
		</property>
	</bean>

	<bean id="serverThread" 
		class="gr.souperk.ion.server.ServerThread">
		<constructor-arg ref="serverConfiguration"/>
	</bean>

	<bean id="webServer" 
		class="gr.souperk.ion.server.WebServer">
		<constructor-arg ref="serverConfiguration"/>
	</bean>

	<bean id="serverConfiguration" 
		class="gr.souperk.ion.conf.ServerConfiguration" 
		factory-method="getInstance">
	</bean>
	
	<bean id="proxyConfiguration" 
		class="gr.souperk.ion.conf.ProxyConfiguration" 
		factory-method="getInstance">
	</bean>
	
</beans>